# List Comprehensions

Complete the following set of exercises to solidify your knowledge of list comprehensions.

In [36]:
import os;

#### 1. Use a list comprehension to create and print a list of consecutive integers starting with 1 and ending with 50.

In [4]:
lst1 = [i for i in range(51) if i>0]
print(lst1)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50]

#### 2. Use a list comprehension to create and print a list of even numbers starting with 2 and ending with 200.

In [27]:
lst2 = [ i for i in range(201) if i%2== 0 and i>1]
print(lst2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100, 102, 104, 106, 108, 110, 112, 114, 116, 118, 120, 122, 124, 126, 128, 130, 132, 134, 136, 138, 140, 142, 144, 146, 148, 150, 152, 154, 156, 158, 160, 162, 164, 166, 168, 170, 172, 174, 176, 178, 180, 182, 184, 186, 188, 190, 192, 194, 196, 198, 200]

#### 3. Use a list comprehension to create and print a list containing all elements of the 10 x 4 array below.

In [8]:
a = [[0.84062117, 0.48006452, 0.7876326 , 0.77109654],
       [0.44409793, 0.09014516, 0.81835917, 0.87645456],
       [0.7066597 , 0.09610873, 0.41247947, 0.57433389],
       [0.29960807, 0.42315023, 0.34452557, 0.4751035 ],
       [0.17003563, 0.46843998, 0.92796258, 0.69814654],
       [0.41290051, 0.19561071, 0.16284783, 0.97016248],
       [0.71725408, 0.87702738, 0.31244595, 0.76615487],
       [0.20754036, 0.57871812, 0.07214068, 0.40356048],
       [0.12149553, 0.53222417, 0.9976855 , 0.12536346],
       [0.80930099, 0.50962849, 0.94555126, 0.33364763]];

In [11]:
lst3 = [y for x in a for y in x]
print(lst3)

[0.84062117, 0.48006452, 0.7876326, 0.77109654, 0.44409793, 0.09014516, 0.81835917, 0.87645456, 0.7066597, 0.09610873, 0.41247947, 0.57433389, 0.29960807, 0.42315023, 0.34452557, 0.4751035, 0.17003563, 0.46843998, 0.92796258, 0.69814654, 0.41290051, 0.19561071, 0.16284783, 0.97016248, 0.71725408, 0.87702738, 0.31244595, 0.76615487, 0.20754036, 0.57871812, 0.07214068, 0.40356048, 0.12149553, 0.53222417, 0.9976855, 0.12536346, 0.80930099, 0.50962849, 0.94555126, 0.33364763]

#### 4. Add a condition to the list comprehension above so that only values greater than or equal to 0.5 are printed.

In [15]:
lst3_bis = [y for x in a for y in x if y >= 0.5]
print(lst3_bis)

[0.84062117, 0.7876326, 0.77109654, 0.81835917, 0.87645456, 0.7066597, 0.57433389, 0.92796258, 0.69814654, 0.97016248, 0.71725408, 0.87702738, 0.76615487, 0.57871812, 0.53222417, 0.9976855, 0.80930099, 0.50962849, 0.94555126]

#### 5. Use a list comprehension to create and print a list containing all elements of the 5 x 2 x 3 array below.

In [16]:
b = [[[0.55867166, 0.06210792, 0.08147297],
        [0.82579068, 0.91512478, 0.06833034]],

       [[0.05440634, 0.65857693, 0.30296619],
        [0.06769833, 0.96031863, 0.51293743]],

       [[0.09143215, 0.71893382, 0.45850679],
        [0.58256464, 0.59005654, 0.56266457]],

       [[0.71600294, 0.87392666, 0.11434044],
        [0.8694668 , 0.65669313, 0.10708681]],

       [[0.07529684, 0.46470767, 0.47984544],
        [0.65368638, 0.14901286, 0.23760688]]];

In [21]:
lst4 = []
for x in b:
    for y in x:
        for z in y:
            lst4.append(z)
print(lst4)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

In [29]:
lst4_bis = [z for x in b for y in x for z in y]
print(lst4_bis)

[0.55867166, 0.06210792, 0.08147297, 0.82579068, 0.91512478, 0.06833034, 0.05440634, 0.65857693, 0.30296619, 0.06769833, 0.96031863, 0.51293743, 0.09143215, 0.71893382, 0.45850679, 0.58256464, 0.59005654, 0.56266457, 0.71600294, 0.87392666, 0.11434044, 0.8694668, 0.65669313, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.65368638, 0.14901286, 0.23760688]

#### 6. Add a condition to the list comprehension above so that the last value in each subarray is printed, but only if it is less than or equal to 0.5.

In [93]:
lst4_bis = [z for x in b for y in x for z in y if z <= 0.5]
print(lst4_bis)

[0.06210792, 0.08147297, 0.06833034, 0.05440634, 0.30296619, 0.06769833, 0.09143215, 0.45850679, 0.11434044, 0.10708681, 0.07529684, 0.46470767, 0.47984544, 0.14901286, 0.23760688]

#### 7. Use a list comprehension to select and print the names of all CSV files in the */data* directory.

In [41]:
data = [name for name in os.listdir('../data') if name.endswith('.csv')]
print(data)
#or name.endswith('.txt')

['sample_file_1.csv', 'sample_file_0.csv', 'sample_file_2.csv', 'sample_file_3.csv', 'sample_file_7.csv', 'sample_file_6.csv', 'sample_file_4.csv', 'sample_file_5.csv', 'sample_file_8.csv', 'sample_file_9.csv']

### Bonus

#### Easy 1 - Inverse.

In [ ]:
invert([1,2,3,4,5]) == [-1,-2,-3,-4,-5]
invert([1,-2,3,-4,5]) == [-1,2,-3,4,-5]
invert([]) == []

In [94]:
# EASY_1 INSERT VALUES
#Given a set of numbers, return the additive inverse of each. Each positive becomes negatives, and the negatives become positives.

#def invert(lst):
    #return [i-2*i for i in () if i >= 0 or i+2*i for i in invert if i<=0]

lst = [-1,2,-3,4,-5]
#lst_inverse = [i-2*i for i in lst if i >= 0 or i+2*i for i in invert if i<=0]

def lst_inverse(liste):
    return (i-2*i for i in liste if i >= 0 or i+2*i for i in liste if i<=0)

lst_inverse(lst)
#You can assume that all values are integers. Do not mutate the input array/list.

#### Easy 2 - Sum Square(n)

In [78]:
# EASY_2 SUM SQUARE(n)
#Complete the square sum function so that it squares each number passed into it and then sums the results together.

#For example, for [1, 2, 2] it should return 9 because 1^2 + 2^2 + 2^2 = 9.
lst_lst = [1,2,2]
def square_sum(liste):
    return sum(i**2 for i in lst_lst)

square_sum(lst_lst)

9

#### Easy - 3 Digitize.

In [83]:
#EASY_3 Digitize
'''Given a non-negative integer, return an array / a list of the individual digits in order.

Examples:

123 => [1,2,3]

1 => [1]

8675309 => [8,6,7,5,3,0,9]'''

def digitize(number):
    return [int(i) for i in str(number)]

digitize(8675309)

[8, 6, 7, 5, 3, 0, 9]

#### Medium 1 - Multiple of 3 or 5.

If we list all the natural numbers below 10 that are multiples of 3 or 5, we get 3, 5, 6 and 9. The sum of these multiples is 23.

Finish the solution so that it returns the sum of all the multiples of 3 or 5 below the number passed in.

    Note: If the number is a multiple of both 3 and 5, only count it once.

In [77]:
lst_mult = [i for i in range(10)]

def multiple_3_5(liste):
    return sum(i for i in liste if i%3==0 or i%5==0)

multiple_3_5 (lst_mult)

23

#### Medium 3 - Categorize new member.

In [85]:
exemple = [[18, 20],[45, 2],[61, 12],[37, 6],[21, 21],[78, 9]]

In [88]:
def cat_new_member(liste):
    return [f(x) if condition else g(x) for x in sequence]

Try to solve these katas using list comprehensions.

**Easy**
- [Insert values](https://www.codewars.com/kata/invert-values)
- [Sum Square(n)](https://www.codewars.com/kata/square-n-sum)
- [Digitize](https://www.codewars.com/kata/digitize)
- [List filtering](https://www.codewars.com/kata/list-filtering)
- [Arithmetic list](https://www.codewars.com/kata/541da001259d9ca85d000688)

**Medium**
- [Multiples of 3 or 5](https://www.codewars.com/kata/514b92a657cdc65150000006)
- [Count of positives / sum of negatives](https://www.codewars.com/kata/count-of-positives-slash-sum-of-negatives)
- [Categorize new member](https://www.codewars.com/kata/5502c9e7b3216ec63c0001aa)

**Advanced**
- [Queue time counter](https://www.codewars.com/kata/queue-time-counter)